/* Copyright 2019, 2020 Clément Saccoccio */

/*
	This file is part of Kingdom Blazon Generator.

	Kingdom Blazon Generator is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	any later version.

	Kingdom Blazon Generator is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Kingdom Blazon Generator.  If not, see <https://www.gnu.org/licenses/>.
*/

@font-face {
	font-family: stgotic;
	src: url(../fonts/stgotic.ttf) format("truetype");
}

@font-face {
	font-family: archer;
	src: url(../fonts/archer.ttf) format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

body {
	padding: 2vh 0 1em 0;
	background-color: #222222;
	color: #eee5c5;
}

a {
	font-size: 1em;
	color: #e2bf81;
}

h1 {
	font-size: 1.8em;
	font-family: stgotic;
	text-align: center;
	margin: 3vh 0;
}

#games {
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-logo {
	margin: 0 10vw;
	width: 40vw;
	max-width: 450px;
	min-width: 180px;
}

.btn {
	transform: translateY(-100%);
	max-width: 42px;
	max-height: 42px;
	min-width: 18px;
	min-height: 18px;
	width: 4vw;
	height: 4vw;
}

.btn.on {
	cursor: pointer;
}

.btn:active.on {
	transform: translateY(-100%) scale(.9);
}

.btn.off {
	filter: grayscale(100%);
}

main {
	display: flex;
	margin: 1em 1em 0 1em;
}

#gui {
	width: 66%;
}

ul {
	display: flex;
	align-items: flex-end;
}

li {
	display: block;
	flex-grow: 1;
	text-align: center;
	border-top: 3px solid #26242b;
	border-left: 3px solid #26242b;
	background-color: #4b463b;
	color: #e9d786;
	list-style: none;
	font-family: stgotic;
	user-select: none;
}

li:last-child, li.on, .game-2 li:nth-child(2) {
	border-right: 3px solid #26242b;
}

li.off {
	border-bottom: 3px solid #26242b;
	cursor: pointer;
}

li.on+li {
	border-left: none;
}

li.on {
	padding-bottom: .5em;
	cursor: default;
}

.game-2 li:nth-child(3) {
	display: none;
}

#gui-content {
	height: 62vh;
	background-color: #4b463b;
	border-left: 3px solid #26242b;
	border-bottom: 3px solid #26242b;
	border-right: 3px solid #26242b;
	margin-bottom: .3em;
}

.pannel {
	width: 100%;
	height: 100%;
	padding: 1em;
}

small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
}

.color-picker {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
}

.color-picker>div {
	cursor: pointer;
}

.color-picker div:hover::after {
	content: "";
	display: block;
	border: 2px solid black;
	z-index: 1;
	position: relative;
	top: -2px;
	left: -2px;
}

.color-picker div:active::after {
	transform: scale(.9);
}

.pannel:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pannel:nth-child(1) .color-picker {
	width: 44vh;
	max-width: 440px;
}

.pannel:nth-child(1) .color-picker>div, .pannel:nth-child(1) .color-picker div:hover::after {
	width: 4vh;
	height: 4vh;
	max-width: 40px;
	max-height: 40px;
}

.pannel:nth-child(2), .pannel:nth-child(3) {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.pannel:nth-child(2) .color-picker, .pannel:nth-child(3) .color-picker {
	width: 33vh;
	max-width: 330px;
	margin-right: 1em;
}

.pannel:nth-child(2) .color-picker>div, .pannel:nth-child(2) .color-picker div:hover::after, .pannel:nth-child(3) .color-picker>div, .pannel:nth-child(3) .color-picker div:hover::after {
	width: 3vh;
	height: 3vh;
	max-width: 30px;
	max-height: 30px;
}

.sprite-btns-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#ordinaries {
	max-width: 424px;
}

.sprite-btn {
	margin: 6px 6px 0 0;
	cursor: pointer;
}

.sprite-btn:active {
	transform: scale(.95);
}

main .nl, main .tc, main .tcs, main .tcdl {
	display: none;
}

main.nl .nl {
	display: block;
}

main.tc .tc {
	display: block;
}

main.tcs .tcs {
	display: block;
}

main.tcdl .tcdl {
	display: block;
}

#preview {
	width: 34%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 5vw;
}

#preview button {
	cursor: pointer;
}

#preview #canvas-wrapper {
	display: block;
	margin: 5vh 0;
}

#preview #canvas-wrapper canvas {
	position: absolute;
	z-index: -1;
}

#preview #text-output-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
}

#preview #text-output-wrapper p {
	text-align: center;
	text-transform: uppercase;
	font-family: archer;
}

#preview #text-output-wrapper span {
	font-size: 1.1em;
}

.copy-to-clipboard {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.copy-to-clipboard img {
	width: 1em;
}

body.loading, body.shitty-browser, body.errored {
	position: fixed;
	overflow: hidden;
}

.message {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #222222;
}

body:not(.loading) #load, body:not(.shitty-browser) #shitty-browser, body:not(.errored) #error {
	display: none;
}

.message p {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	margin-bottom: .8em;
}

@media (max-width: 1100px) {

	main {
		flex-direction: column-reverse;
		align-items: center;
	}

	#preview {
		width: unset;
	}

	#preview #text-output-wrapper {
		height: 60px;
	}

	#preview button, #preview #canvas-wrapper, #preview #text-output-wrapper {
		margin: 0 0 2vh 0;
	}

	#gui {
		width: 100%;
	}

	#gui-content {
		height: 50vh;
	}
}

@media (max-width: 840px) {

	* {
		font-size: 14px;
	}

	#gui-content {
		height: 70vh;
	}

	.pannel:nth-child(2), .pannel:nth-child(3) {
		flex-direction: column;
	}

	.pannel:nth-child(2) .color-picker, .pannel:nth-child(3) .color-picker {
		margin: 0 0 1em 0;
	}
}

@media (max-width: 620px) {

	main {
		margin: .5em;
	}

	#gui-content {
		height: unset;
	}

	.pannel .color-picker, .pannel .color-picker {
		width: 88vw !important;
	}
	
	.pannel .color-picker>div, .pannel .color-picker div:hover::after, .pannel .color-picker>div, .pannel .color-picker div:hover::after {
		width: 8vw !important;
		height: 8vw !important;
	}
}

@media (max-width: 330px) {

	main {
		margin: 0;
	}
}
